<br/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
	  <div class="row">
		<div class="col-sm-6">
		    <h5>About</h5>	
            <p style="text-align: justify;">{{ site.affiliation }}</p>
		</div>

		<div class="col-sm-6">
		    <h5>Coordinates</h5>	
            <p style="text-align: justify;">{{ site.location }}</p>
		</div>
	  </div>

      <center>Last updated on: {{ site.version }}</center>
      <center><p>&copy {{ site.since }}-{{ site.time | date: '%Y' }}. All rights reserved.</p></center>
      <center><p>&copy {{ "now" | date: "%Y" }} {{site.title | escape }} </p></center>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
